---
permalink: /update.xml
---
<?xml version="1.0" encoding="utf-8"?>
<updates>
  <update>
    <name>True WYSIWYG TinyMCE</name>
    <version>{{metainfo.version}}</version>
    <infourl title="True WYSIWYG TinyMCE"><![CDATA[{{metainfo.url}}]]></infourl>
    <downloads>
      <downloadurl type="full" format="zip"><![CDATA[{{metainfo.url}}/dist/plg_system_wysiwygtinymce_{{metainfo.version}}.zip]]></downloadurl>
    </downloads>
    <targetplatform name="joomla" version="4.[123456789]"/>
    <element>plg_system_wysiwygtinymce</element>
    <type>package</type>
    {% if metainfo.sha256 %}<sha256>{{metainfo.sha256}}</sha256>{% endif %}
		{% if metainfo.sha384 %}<sha384>{{metainfo.sha384}}</sha384>{% endif %}
		{% if metainfo.sha512 %}<sha512>{{metainfo.sha512}}</sha512>{% endif %}
  </update>
</updates>
